<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Página Inicial</title>
</head>
<body>
    <header>
        <h1>Bem-vindo à Página Inicial</h1>
    </header>
    
    <nav>
        <!-- Adicione links de navegação aqui, se necessário -->
        <ul>
            <li><a href="{% url 'login' %}">Login</a></li>
            <!-- Adicione outros links aqui -->
        </ul>
    </nav>

    <main>
        <p>Esta é a página inicial da sua aplicação.</p>
        <!-- Adicione o conteúdo da página principal aqui -->
    </main>

    <footer>
        <!-- Adicione o rodapé aqui, se necessário -->
    </footer>
</body>
</html>
